@import 'theme';
@import 'globals';
@import 'typography';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: $black;
  min-height: 100%;
  position: relative;
}

#page {
  height: 100%;
}

.content {
  padding: 2em;

  @media only screen and (max-width: $tablet-breakpoint) {
    padding: 1em;
  } 
}