@import 'theme';
@import 'globals';
@import 'typography';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: $black;
}

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 2em;

  @media only screen and (max-width: $tablet-breakpoint) {
    padding: 1em;
  } 
}